* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.Wrapper{
    width: 400;
    background-color: darksalmon;
}
.Wrapper H2{
    text-align: center;
}
.Wrapper H3{
    text-align: center;
}
.Wrapper .input-box{
    width: 100%;
    height: 70%;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 30%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
}
.btn{
    width: 100%;
    height: 50%;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
}
p{
    text-align: center;
}